/Interuption/nbproject/private/
/Interuption/build/default/
/Cont_00_99/nbproject/private/
/Cont_00_99/build/default/
/Cont_00_99/dist/default/
/Cont_00_99_regre/nbproject/private/
/Cont_00_99_regre/build/default/
/Cont_00_99_regre/dist/default/
/PWM/nbproject/private/
/PWM/build/default/
/PWM/dist/default/
/Contador_Atualizado/nbproject/private/
/Contador_Atualizado/build/default/
/Contador_Atualizado/dist/default/
/Contador_0_9999/nbproject/private/
/Contador_0_9999/build/default/
/Contador_0_9999/dist/default/
/Prova_Antiga/nbproject/private/
/Prova_Antiga/build/default/
/Prova_Antiga/dist/default/
/Prova_1_asm/nbproject/private/
/Prova_1_asm/build/default/
/Prova_1_asm/dist/default/
/Temperatura/nbproject/private/
/Temperatura/build/default/
/Controlador_10bits/nbproject/private/
/Controlador_10bits/build/default/
/Tarefa-07/nbproject/private/
/Tarefa-07/build/default/
/Tarefa-07/dist/default/
/PWM-10bits/nbproject/private/
/PWM-10bits/build/default/
/Prova_2_asm/Prova_2_asm.X/nbproject/private/
/Prova_2_asm/Prova_2_asm.X/build/default/
/Prova_2_asm/Prova_2_asm.X/dist/default/